
#box{
    width: 309px;
    height: 309px;
    border: 1px solid grey;
}

input{
    width: 100px;
    height: 100px;
    border: none;
    font-size: 70px;

}

#Reset{
    width: 200px;
    height: 70px;
    border: none;
    font-size: 20px;

}
